<div class="conteiner__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://miro.medium.com/v2/resize:fit:1200/1*tZZ3MQW4lYa3WwiPYxiUkA.png"
      cardTitle="Saiu a nova versão do Angular"
      cardDescription="Uma nova versão do Angular cheia de novidades acaba de chegar, venha conferir."
      Id="1"
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://miro.medium.com/v2/resize:fit:1200/1*tZZ3MQW4lYa3WwiPYxiUkA.png"
      cardTitle="Saiu a nova versão do Angular - angular é bom demais"
      Id="2"
    >
    </app-small-card>
    <app-small-card
      photoCover="https://miro.medium.com/v2/resize:fit:1200/1*tZZ3MQW4lYa3WwiPYxiUkA.png"
      cardTitle="Conheça a história do Angular - angular é bom demais"
      Id="3"
    >
    </app-small-card>
    <app-small-card
      photoCover="https://miro.medium.com/v2/resize:fit:1200/1*tZZ3MQW4lYa3WwiPYxiUkA.png"
      cardTitle="Saia do React - angular é bom demais"
      Id="4"
    >
    </app-small-card>
  </div>
</div>
